<!doctype html>
<html lang="en">
<%- include('./partial/head') %>

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
        <%- include('./partial/nav') %>
        <%- include('./partial/sidebar') %>
        <main class="app-main">
            <div class="app-content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">Compekiah Compek</h3>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('./main/index') %>
        </main>
        <%- include('./partial/footer') %>
    </div>
    <%- include('./partial/script') %>
</body>

</html>