<div class="app-content">
    <div class="container-fluid px-5">
        <div class="col-md-6">
            <img src="<%= product.image %>" class="img-fluid rounded" alt="<%= product.name %>" style="width: 100%; height: auto" />
        </div>
        <div class="col-md-6">
            <h1 class="fw-bold"><%= product.name %></h1>
            <p class="text-muted"><%= product.Category.name %></p>
            <p class="lead"><%= product.description %></p>
            <h2 class="text-success fw-bold"><%= product.priceRupiah %></h2>
            <p class="text-muted small">Stock: <%= product.stock %></p>
        </div>
    </div>
</div>