<section class="py-5">
  <div class="container py-5">
    <div class="row">
      <!-- Foto Produk (Kiri) -->
      <div class="col-md-6">
        <img
          src="<%= product.image %>"
          class="img-fluid rounded"
          alt="<%= product.name %>"
          style="width: 100%; height: auto"
        />
      </div>

      <!-- Detail Produk (Kanan) -->
      <div class="col-md-6">
        <h1 class="fw-bold"><%= product.name %></h1>
        <p class="text-muted"><%= product.Category.name %></p>
        <p class="lead"><%= product.description %></p>
        <h2 class="text-success fw-bold"><%= product.priceRupiah %></h2>
        <p class="text-muted small">Stock: <%= product.stock %></p>
        <div class="mt-4">
          <button
            class="btn btn-primary add-to-cart"
            data-product-id="<%= product.id %>"
            data-product-name="<%= product.name %>"
            data-product-price="<%= product.price %>"
            data-product-image="<%= product.image %>"
          >
            Add to Cart
          </button>
          <a
            href="/category/<%= product.Category.id %>"
            class="btn btn-outline-secondary btn-lg"
            >Back to Category</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
